doctype html
html
  head
    title= 'my friend has a printer'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(class='banner') your friend has a printer!

    div(class='container')
      block content
  script(type='text/javascript' src='/javascripts/index.js')