:root {
  --input-border: #ccc;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

*,
*::before,
*::after,
*:hover {
  box-sizing: border-box;
}

body {
  font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

@media screen and (max-device-width: 480px){
  body {
    -webkit-text-size-adjust: 100%;
  }
}

.container {
  padding: 0 2em;
}

.banner {
  font-size: 2em;
  margin: 1rem 0.25rem;
  padding: 75px 30px 30px;
}

.copy p {
  margin: 5px;
  padding: 0.8em 20px;
  font-size: 1.7em;
}

.upload-form {
  padding: 50px;
  text-align: center;
}

input[type="file"]{
  position: absolute;
  left: -99999rem;
}

.custom-file-upload {
  border-radius: 10px;
  display: inline-block;
  padding: 40px 70px;
  cursor: pointer;
  font-size: 1.2em;
  border: 1px solid #ccc;
}

.custom-file-upload:active {
  background-color: violet;
  color: black;
}

.file-feedback-container {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 3rem;
}

.input {
  box-sizing: content-box;
  font-size: 1.2em;
  width: 35%;
  margin: 0 auto;
  font-family: inherit;
  padding: 0.4em 0.7em;
  letter-spacing: 0.15em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.input:focus {
  border-color: hsl(
      var(--input-focus-h),
      var(--input-focus-s),
      var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
  hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
  );
  outline: 3px solid transparent;
}

.send-button {
  margin-top: 1.5em;
  padding: 0.7em;
  font-size: 1.25em;
  background-color: #fff;
  border: 1px solid #ccd;
  border-radius: 10px;
}

.send-button:not([disabled]) {
  cursor: pointer;
}

.send-button:not([disabled]):hover {
  background-color: black;
  color: white;
}

.send-button:active {
  background-color: violet;
  color: black;
}


@media screen and (min-device-width: 700px) {

  body {
    font-size: 24px;
    text-align: left;
  }

  .upload-form {
    text-align: left;
    padding-left: initial;
  }

  .copy p {
    padding: 0.6em 20px;
    font-size: 1.2em;
  }

  .custom-file-upload {
    font-size: 0.9em;
    padding: 20px 30px;
  }

  .input {
    font-size: 0.9em;
    width: inherit;
    margin-left: inherit;
  }

  .file-feedback-container {
    font-size: 0.8em;
  }
}